<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Se o arquivo ou diretório existe, serve ele
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]


  RewriteRule ^proxy\.php$ - [L]
  
  # Caso contrário, redireciona tudo para index.html
  RewriteRule ^ index.html [L]
</IfModule>